/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Poppins, sans-serif;
}

.reviews__container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    padding: 2rem 0;
    background-color: #fafafae8;
}

.reviews__div_container {
    width: 95%;
    padding: 1.5rem 1rem;
    border: 1px solid #dfdfdf8e;
    border-radius: 0.4rem;
    background-color: #fff;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    transition: all 0.2s;
}

.reviews__text {
    text-align: left;
    width: 98%;
    margin: 0.5rem 0rem;
    color: #000000;
    font: bolder 1.305rem Poppins, sans-serif;
}

.reviews_boxes {
    position: relative;
    width: 100%;
    height: 360px;
    border: 1px solid #dfdfdf;
    border-radius: 0.4rem;
}

.stay__up {
    border: 1px solid red;
    position: absolute;
    width: 100%;
    left: 0;
    top: 20%;
    padding: 0 0.9rem;
}

.stay__up_para {
    text-transform: none;
    font-size: 0.89rem;
    line-height: 1.55;
    text-align: center;
    color: #3d3d3d;
}

.quote__icon {
    position: absolute;
    color: #c2c2c2;
    font-size: 1.55rem;
    rotate: 180deg;
    left: 7%;
    top: 8%;
}

.stay__down {
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 0;
}

.stay__down__h3 {
    color: #444;
    font: 600 1rem Poppins, sans-serif;
    margin: 1rem 0;
    letter-spacing: 0.08rem;
}

.star_icon {
    color: #ffa600bd;
    font-size: 1.55rem;
}

@media screen and (min-width: 450px) {
    .reviews__div_container {
        width: 96%;
    }
}
@media screen and (min-width: 576px) {
    .reviews__div_container {
        width: 500px;
    }
}

@media screen and (min-width: 768px) {
    .reviews__div_container {
        width: 96%;
        grid-template-columns: repeat(2, 1fr);
    }

    .reviews__text {
        grid-column: span 2;
    }

    .reviews_boxes {
        height: 85vh;
    }

    .stay__up_para {
        font-size: 0.94rem;
        line-height: 1.9;
        width: 93%;
    }
}

@media screen and (min-width: 992px) {
    .reviews__div_container {
        width: 950px;
    }
    .reviews_boxes {
        height: 400px;
    }
}

@media screen and (min-width: 1200px) {
    .reviews__div_container {
        width: 1150px;
    }
}